body {background-color: coral;}

.box {
    width: 600px;
    height: 600px;
    background-color: aqua;
    border-radius: 1px;
}

.button {
    border-radius: 5px;
    color: black;
    width: 200px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
}

