body {background-color: coral;}

.box {
    width: 600px;
    height: 600px;
    background-color: aqua;
    border-radius: 1px;
}

.button {
    border-radius: 5px;
    color: black;
    width: 200px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
}

/* style index page photo reel */

#photos {
    clear: both;
    line-height: 0;
    max-width: 100%;
    column-count: 5;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* styling icons */

.social-networks {
    text-align: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}