body {background-color: coral;}

.box {
    width: 600px;
    height: 600px;
    background-color: aqua;
    border-radius: 1px;
}

.button {
    border-radius: 5px;
    color: turquoise;
    width: 100px;
    height: 20px;
}

